@use "sass:map";
@use 'utils/theme.scss' as *;
@use 'variables.scss' as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
  background-color: theme-value($theme, background-color);
  color: theme-value($theme, text-color);
}

/* Отключаем прокрутку */
.no-scroll {
  overflow: hidden;
}
